header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 5;
  width: 100%;
  height: 80px;
  background-color: white;
}

.logo {
    color: MediumAquamarine;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}
header nav {
    display: inline-block;
    padding-right: 40px;
}

a {
    color: black;
    padding: 10px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}


.container {
    top: 80px;
    position: relative;
    display: flex;
    margin: 20px;
}


.large-column {
  width: 630px;
  display: flex;
  flex-flow: column;
  margin: 20px;
  border-style: solid;
}


.image-content-main-story {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  margin-top: 0;
}

.image-content-fall {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  text-align: center;
  justify-content: flex-start;
}

.image-content-camera {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  text-align: center;
  justify-content: flex-start;
}

.image-content-cat {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.text-image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.text-image-main {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.medium-column {
  width: 300px;
  display: flex;
  flex-flow: column;
  margin: 20px;
  border-style: solid;
}


.small-column {
  width: 240px;
  display: flex;
  flex-flow: column;
  margin: 20px;
  border-style: solid;
}

.large-column div,
.medium-column div,
.small-column div {
    border-style: solid;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
